{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        {% for book in books %}
        <div class="row">
            <div class="book col-md-4">
                <a href="{% url 'pub_date' book.pub_date %}">
                    <h3>{{ book.name }}</h3>
                  </a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            <div class="book col-md-4">
                <h2>1984</h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2015-03-11</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}